.botao{
    width:100%;
    padding:16px;
    margin:10px 0;
    border:none;
    border-radius:16px;
    background:#4CAF50;
    color:white;
    font-size:17px;
    font-weight:600;
    cursor:pointer;
    transition:.25s;
}

.botao:hover{
    background:#2E7D32;
    transform:translateY(-2px);
}